 <p id="notice"><%= notice %></p>
<% cache(cache_key_for_bodies(@body.id)) do %>
	<%= render partial: 'body', locals: {body: @body}  %>
<% end %>
<% if @other_obs.count > 0 %>
  <h3>Observations of this Object</h3>
  <% cache(cache_key_for_observations(@body.id, @other_obs.count)) do %>
	  <%= render partial: 'observations/observations', locals: {obs: @other_obs} %>
  <% end %>
  <br>
<% else %>
  <h3>You've logged no observations of this object.</h3>
<% end %>


<%= link_to 'Back', :back, class: "secondary small button" %>
