  <table>
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Own?</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.filters.each do |filter| %>
        <tr>
          <td><%= filter.make %></td>
          <td><%= filter.model  %>
          <% if filter.current == true %>
            <td>Yes</td>
          <% else %>
            <td>No</td>
          <% end %>
          <td><%= link_to 'Edit', edit_filter_path(filter), class: "tabular small button" %></td>
          <td><%= link_to 'Delete', filter, method: :delete, data: { confirm: 'Are you sure?' }, class: "tabular small button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
